rag/vector_db_fulltext/
config.env
working_dir/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.swp
*.qsub.o*
*.qsub.e*
WAVECAR
CHGCAR
CHG
CONTCAR
DOSCAR
EIGENVAL
IBZKPT
OSZICAR
OUTCAR
PCDAT
REPORT
vasprun.xml

.vscode/
CSD-modified/
rag/parsed_fulltext/

