spglib==2.6.0
pymatgen==2023.12.18
torch==2.6.0
ase==3.26.0
transformers==4.57.3
sentence-transformers==5.1.2
mace-torch==0.3.14
matscipy==1.1.1
ipykernel
python-dotenv
langchain
langchain-core
pydantic
pubchempy
openai
langchain-openai